/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    padding: 0;
    margin: 0;
}

#title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Bree Serif', serif;

    color: white;
    font-weight: 600;
    background-color: black;
}

#game{
    margin: 37px 70px 0% 127px;
    /* position: fixed; */
    width: 800px;
    height: 700px;
    border: 1px solid black;
    background-color: wheat;
}

/* body{
  background-color: rosybrown;
} */

#gameview{
  display: flex;
  background-image: url("assets/background-basketball-court.jpg");
  padding-bottom: 35px;
}

.hidden {
  display: none;
}

#introduction {
  z-index: 9;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}
/* #modal{
    z-index: 9;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
} */

#modal-content{
  z-index: 11;
  position: fixed;
  background: white;
  border-radius: 10px;
  font-size: 20px;
  width: 65%;
  /* max-width: 800px; */
  /* height: 50%; */
  top: 25%;
  left: 17.5%;
  text-align: center;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}


#introduction-content {
  z-index: 10;
  position: fixed;
  width: 60vw;
  height: 20vh;
  top: 10vh;
  left: 17%;
  padding: 50px;
  background: white;
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
 
#game-description {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
} 

#basket{
  width: 100px;
  height: 100px;
  background-color: wheat;
  content: url("assets/rim.png");
  position: relative;
  top: 500px;
}

#basketball{
    width: 100px;
    height: 100px;
    top: 600px;
    /* background-color: orangered; */
    content: url("assets/basketball-image.png");
    border-radius: 65px;
    position: relative;
    animation: basketballSlide 2s infinite linear;
}

#bomb{
    width: 80px;
    height: 80px;
    top: 600px;
    background-color: black;
    /* content: url("assets/bomb.png"); */
    border-radius: 65px;
    position: relative;
    animation: slide 2s infinite linear;
}

@keyframes basketballslide{
    0%{top: 0px};
    100%{top:500px};
}

@keyframes slide{
    0%{top: -200px};
    100%{top:500px};
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  height: 20%;
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.25);
  /* margin: 2px 0; */
   background-color: wheat;
}

#linkedin-logo{
  height: 70px;
  margin-left: 5px;
}

/* .links {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
} */

#instructions-panel{
  /* display: flex; */
  border: 1px solid black;
  margin: auto;
  width: 100%;
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.25);
}

#left-key{
    height: 70px;
    float: right;
    padding-left: -5px;
}

#right-key{
     height: 70px;
     float: right;
     padding-left: 15px;
     padding-bottom: 20px;
     padding-right: 30px;
}

#instructions{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 5% 10% 3% 30%;
  left: 17%;
  background-color: wheat;
}


#right-panel{
  display: flex;
  flex-direction: column;
  padding: 62px 0px 0px 0px;
  /* justify-content: space-around; */
}

#left-key-container{
  display: flex;
  flex-direction: row;
   background-color: wheat;
}

#right-key-container{
  display: flex;
  flex-direction: row;
   background-color: wheat;
}

#left-text{
  padding: 30px 60px 0px 60px;
}

#right-text{
  padding: 30px 30px 0px 60px;
}

#score-wrapper{
  width: 100%;
  border: 1px solid black;
  background-color: black;
  color: white;
  /* padding-bottom: 30px; */
}

#score-title{
  font-size: 15px;
  padding-bottom: 5px;
  font-family: 'Press Start 2P', cursive;
}

#score-wrapper{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px; 
}

#high-score-container{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* font-family: 'Press Start 2P', cursive; */
}

#high-score{
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
}

#score{
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
}
#high-score-title{
  font-size: 15px;
  padding-bottom: 5px;
  font-family: 'Press Start 2P', cursive;
}